In [2]:
import pandas as pd 
data=pd.read_csv('databefor_cleaning.csv')
data

      category                                            content
0        sport  arsenal start their season with a win at old t...
1        sport  join us as world champions chelsea face off ag...
2        sport  read the key takeaways and methodology of the ...
3        sport  nearly    years after their time in the nfl  t...
4        sport  in the time since his move to the premier leag...
...        ...                                                ...
90923     news   person of interest in british girl s disappea...
90924     news   blackouts hit russia s belgorod as ukrainian ...
90925    sport   live europa league  celtic trail sturm as joh...
90926    sport   live europa league  celtic trail sturm at bre...
90927    sport   live europa league  forest lead porto  crysta...

[90928 rows x 2 columns]

In [5]:
data['lengthoftext']=data['content'].apply(lambda x:len(x))
data

,category,content,lengthoftext
0,sport,arsenal start their season with a win at old t...,204
1,sport,join us as world champions chelsea face off ag...,162
2,sport,read the key takeaways and methodology of the ...,137
3,sport,nearly years after their time in the nfl t...,187
4,sport,in the time since his move to the premier leag...,182
...,...,...,...
90923,news,person of interest in british girl s disappea...,89
90924,news,blackouts hit russia s belgorod as ukrainian ...,66
90925,sport,live europa league celtic trail sturm as joh...,79
90926,sport,live europa league celtic trail sturm at bre...,71
90927,sport,live europa league forest lead porto crysta...,90